<!-- <div class="app-content">
    <div class="group">
        <form>
            <span class="app-action">
        <button md-fab (click)="logout()"><md-icon>Exit</md-icon></button>
      </span><br><br>
            <md-card>
                <md-tab-group>
                    <md-tab *ngFor="let sd of data">
                        <ul>
                            <i>
                <ng-template md-tab-label>
                  {{sd.from.name}}
                </ng-template>
                <small>Message :</small> <p>{{sd.message}}</p>
                <small>created_time :</small> <p>{{sd.created_time}}</p>                
                <small>updated_time :</small> <p>{{sd.updated_time}}</p>
                <small>Id :</small> <p>{{sd.id}}</p>
                

              </i>
                        </ul>
                    </md-tab>
                </md-tab-group>
            </md-card>
        </form>
    </div>
</div> -->

<div>
    <md-toolbar color="primary">
        <span><md-icon>mood</md-icon></span>

        <span>Enigma Portal ....!</span>

        <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    </md-toolbar>
    <md-menu x-position="before" #menu="mdMenu">
        <button md-menu-item>Option 1</button>
        <button md-menu-item>Option 2</button>
    </md-menu>

    <md-card>
        <button md-button>All</button>
        <button md-raised-button>Of</button>
        <button md-raised-button color="primary">The</button>
        <button md-raised-button color="accent">Buttons</button>
    </md-card>

    <span class="done">
    <button md-fab>
      <md-icon>check circle</md-icon>
    </button>
  </span>
</div>